<a href="https://colab.research.google.com/github/5-star-B/week-1/blob/main/tes1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
!git clone https://github.com/5-star-B/week-1

Cloning into 'week-1'...
remote: Enumerating objects: 31, done.
remote: Counting objects: 100% (31/31), done.
remote: Compressing objects: 100% (25/25), done.
remote: Total 31 (delta 7), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (31/31), 102.45 KiB | 2.85 MiB/s, done.

In [7]:
cd week-1

/content/week-1

In [9]:
!python High_school_.ipynb

Traceback (most recent call last):
  File "/content/week-1/High_school_.ipynb", line 8, in <module>
    "include_colab_link": true
NameError: name 'true' is not defined

In [10]:
import pandas as pd
import numpy as np

In [12]:
mydata = pd.read_excel('high school data set 2.xlsx')

In [13]:
mydata.head(5)

,Timestamp,ناوی سیانی,ڕەگەز,دەرەجەی پۆلی ١٢ چەند بوو؟,ساڵی چەند خوێندنت تەواو کرد؟,دوای پۆلی ١٢ وازت لە خوێندن هێناوە یان لە زانکۆیت و بەردەوامیت لە خوێندن,دەرەجەکەت چەند بوو؟
0,2023-02-22 15:48:04.495,Hiwa jamal kamil,Male,80-90,2020,بەردەوامم لە خوێندن,NaN
1,2023-02-22 16:33:57.769,Bawka yad,Male,80-90,2021,بەردەوامم لە خوێندن,86.0
2,2023-02-22 16:36:31.180,zheer kamal ahmad,Male,80-90,2019,وازم هیناوە,NaN
3,2023-02-22 16:37:01.024,Zanyar Khalid Karim Nader,Male,90-100,2019,بەردەوامم لە خوێندن,NaN
4,2023-02-22 16:38:16.183,Mir Jalal Mohammed,Male,80-90,2020,وازم هیناوە,NaN